<link rel="stylesheet" href="/css/task/styles.css">

<li class="task">
    {{tasks}}
    <div>
    <a  href="/tasks/remove/{{id}}" class="buttonDelete">Excluir</a>
    <a  href="/tasks/edit/{{id}}" class="buttonEdit" >Editar</a>
    </div>
</li>

