<link rel="stylesheet" href="/css/404/styles.css">

<div class="container">
    <h1>ERRO 404</h1>
    <h2>Não foi possível encontrar a página solicitada</h2>
    <a href="/">Voltar para a página inicial</a>

</div>