.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5em;
    padding: 1em;
    background-color: #A5D0A8;
    border-radius: 20px;
    max-width: 80vw;
    overflow: auto;
   
}

.task .buttons{
    border:none;
    padding: 0.6em;
    border-radius: 10px;
    margin-left: 0.9em;
    cursor: pointer;
    transition: filter 200ms ;
    text-decoration: none;
}

.task .buttons:hover{
    filter: brightness(0.9);
}

.buttonDelete{
    background-color: #7A28CB;
    color:#fff;
}

.buttonEdit{
    background-color: #4F759B;
    color:#fff;
}

.id{
    font-size: 0.6em ;
    color: #7A28CB;
   
}

.task div{
    display: flex;
    
}

.check{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #0E9594;
    font-size: 1.7em;
    margin-left: 1em;
}

.complete{
    background-color: #5e7b60;
    text-decoration: line-through;
}

@media only screen and (max-width: 600px){
    .task .buttons{
        margin-left: 0.7em;
    }


}



